Client/src/conf/xml-resources/web-service-references/service/wsdl/localhost_30228/Marketplace/service.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Marketplace/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Marketplace/">

<xs:element name="getitem" type="tns:getitem"/>

<xs:element name="getitemResponse" type="tns:getitemResponse"/>

<xs:complexType name="getitem">
<xs:sequence>
<xs:element name="id_product" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getitemResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="item">
<xs:sequence>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="desc" type="xs:string" minOccurs="0"/>
<xs:element name="iditem" type="xs:string" minOccurs="0"/>
<xs:element name="idpro" type="xs:int"/>
<xs:element name="like" type="xs:string" minOccurs="0"/>
<xs:element name="likes" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="photo" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:int"/>
<xs:element name="purch" type="xs:int"/>
<xs:element name="time" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>