Client/src/conf/xml-resources/web-service-references/confirmPurchase/wsdl/localhost_30228/Marketplace/confirmPurchase.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Marketplace/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Marketplace/">

<xs:element name="insertPurchase" type="tns:insertPurchase"/>

<xs:element name="insertPurchaseResponse" type="tns:insertPurchaseResponse"/>

<xs:element name="showBuyerInfo" type="tns:showBuyerInfo"/>

<xs:element name="showBuyerInfoResponse" type="tns:showBuyerInfoResponse"/>

<xs:element name="showProductInfo" type="tns:showProductInfo"/>

<xs:element name="showProductInfoResponse" type="tns:showProductInfoResponse"/>

<xs:complexType name="showProductInfo">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="id_product" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showProductInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:map" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="map">
<xs:sequence>
<xs:element name="obj" type="xs:anyType" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertPurchase">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="id_product" type="xs:string" minOccurs="0"/>
<xs:element name="id_buyer" type="xs:string" minOccurs="0"/>
<xs:element name="prodname" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:int"/>
<xs:element name="quantity" type="xs:int"/>
<xs:element name="total_price" type="xs:int"/>
<xs:element name="consignee" type="xs:string" minOccurs="0"/>
<xs:element name="full_address" type="xs:string" minOccurs="0"/>
<xs:element name="postal_code" type="xs:string" minOccurs="0"/>
<xs:element name="phone_number" type="xs:string" minOccurs="0"/>
<xs:element name="ccn" type="xs:string" minOccurs="0"/>
<xs:element name="cvv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertPurchaseResponse">
<xs:sequence>
<xs:element name="return" type="tns:map" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showBuyerInfo">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="id_user" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showBuyerInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:map" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>