Client/src/conf/xml-resources/web-service-references/confirmPurchase/wsdl/localhost_30228/Marketplace/confirmPurchase.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Marketplace/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Marketplace/" name="confirmPurchase">
<types>
<xsd:schema>
<xsd:import namespace="http://Marketplace/" schemaLocation="http://localhost:30228/Marketplace/confirmPurchase?xsd=1"/>
</xsd:schema>
</types>
<message name="showBuyerInfo">
<part name="parameters" element="tns:showBuyerInfo"/>
</message>
<message name="showBuyerInfoResponse">
<part name="parameters" element="tns:showBuyerInfoResponse"/>
</message>
<message name="insertPurchase">
<part name="parameters" element="tns:insertPurchase"/>
</message>
<message name="insertPurchaseResponse">
<part name="parameters" element="tns:insertPurchaseResponse"/>
</message>
<message name="showProductInfo">
<part name="parameters" element="tns:showProductInfo"/>
</message>
<message name="showProductInfoResponse">
<part name="parameters" element="tns:showProductInfoResponse"/>
</message>
<portType name="confirmPurchase">
<operation name="showBuyerInfo">
<input wsam:Action="http://Marketplace/confirmPurchase/showBuyerInfoRequest" message="tns:showBuyerInfo"/>
<output wsam:Action="http://Marketplace/confirmPurchase/showBuyerInfoResponse" message="tns:showBuyerInfoResponse"/>
</operation>
<operation name="insertPurchase">
<input wsam:Action="http://Marketplace/confirmPurchase/insertPurchaseRequest" message="tns:insertPurchase"/>
<output wsam:Action="http://Marketplace/confirmPurchase/insertPurchaseResponse" message="tns:insertPurchaseResponse"/>
</operation>
<operation name="showProductInfo">
<input wsam:Action="http://Marketplace/confirmPurchase/showProductInfoRequest" message="tns:showProductInfo"/>
<output wsam:Action="http://Marketplace/confirmPurchase/showProductInfoResponse" message="tns:showProductInfoResponse"/>
</operation>
</portType>
<binding name="confirmPurchasePortBinding" type="tns:confirmPurchase">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="showBuyerInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertPurchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showProductInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="confirmPurchase">
<port name="confirmPurchasePort" binding="tns:confirmPurchasePortBinding">
<soap:address location="http://localhost:30228/Marketplace/confirmPurchase"/>
</port>
</service>
</definitions>