Client/src/conf/xml-resources/web-service-references/editProduct/wsdl/localhost_30228/Marketplace/editProduct.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Marketplace/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Marketplace/">

<xs:element name="edittodb" type="tns:edittodb"/>

<xs:element name="edittodbResponse" type="tns:edittodbResponse"/>

<xs:element name="showproduct" type="tns:showproduct"/>

<xs:element name="showproductResponse" type="tns:showproductResponse"/>

<xs:complexType name="showproduct">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="id_product" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showproductResponse">
<xs:sequence>
<xs:element name="return" type="tns:map" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="map">
<xs:sequence>
<xs:element name="obj" type="xs:anyType" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="edittodb">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="prod_id" type="xs:string" minOccurs="0"/>
<xs:element name="prodname" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="edittodbResponse">
<xs:sequence>
<xs:element name="return" type="tns:map" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>